*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    color: white;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.bg-image{
    background-image: linear-gradient(rgb(0,0,0,.8), rgb(0,0,0,.3)),
    url(../images/pexels-jannis-knorr-2933243.jpg); 
    
}

.bg-image3{
    background-color: white;
}

img{
    border-radius: 50px;
}